<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.divisionpolitica">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GalLatacunga" />
        <activity android:name=".GalSaquisili" />
        <activity android:name=".GalSalcedo" />
        <activity android:name=".GalPujili" />
        <activity android:name=".GalSigchos" />
        <activity android:name=".GalPangua" />
        <activity android:name=".GalLaMana"></activity>
    </application>

</manifest>